body{
    padding: 50px;
    margin-top: 100px;
}
.input-area{
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
    border-radius: 10px;
    margin-top: 60px;
}
.input-area h4{
    margin-bottom: 30px;
    font-size: 25px;
}
.transaction-area{
    display: none;
}
.status{
    color: white;
    padding: 30px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
}
.deposit{
    background-color: #6A5ACD;
}
.withdraw{
    background-color: #FFA07A;
}
.balance{
    background-color: #ffa600ee;
}